
.header{
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
    padding:50px ;
    background-color: rgb(0, 46, 93);
    color: white;
  
  }
  .logo{
      width: 200px;
  }
  .headerLinks{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap:15px;
  }
  

  #button {
    color: rgb(223, 95, 3);
    font-size: 15px;
    width: 135px;
    height: 40px;
    border:2px solid rgb(223, 95, 3);
    border-radius: 8px;
    border-color:  rgb(223, 95, 3);
    margin: 0;
    padding: 0;
   }
  
  #headerLinks {
  
      color: white;
      font-size: 20px;
      text-decoration: none;
  
  }
  h5{
      font-size: 20px;
  }
  .form{
      margin-top:40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 200px;
      gap:10px;
  }
  
  .inputs{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap:10px;
  }
  
  .task{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap:3px;
  }

.bodyContent{
  height: 700px;
}


.output{
  height:300px;
  overflow-y: scroll;
}
.cabeceras{
  margin-top:50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 150px;
}

.cab{
  font-size: 20px;
  color: rgb(0, 46, 93);
  font-weight: bold;
}
  .footer{
    padding-top: 10px;
    height: 60px;
    background-color: rgb(0, 46, 93);
    margin-bottom: 0px;
  }



  h3{
    color:white;
    margin-left: 20px;
    margin-top: 20px;

  }
  
  .InputNombre{
    width:150px;
  }
  
  .InputDescripción{
      width:300px;
  }
  .InputFecha{
      width: 170px;
  }
  .InputEstado{
    width: 170px;
  }
  .InputResponsable{
    width: 170px;
  }
  .InputSubir{
      width:80px;
      background-color: white;
  }
  
  *{
      font-family: 'Roboto Slab', serif;
  
  }
  
  
  .task input{
      height: 20px;
      border-radius: 10px;
      border-width: 0.2px;
      border-color: rgb(196, 195, 195);
  
  }
  
  .output{
      display:flex;
      flex-direction: column;
      padding-left: 180px;
      padding-right: 230px;
  
  }
  
  .Print{
      display:flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
      gap:10px;
  
  
  
  }


  .tarea{
    position: relative;
    margin-left:50px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
  }


  .inptNombre{
    width:200px;
  }

  .inptDesc{
    width:250px;
  }

  .inptFecha{
    width:170px;
  }

  .inptResp{
    width:170px;
  }

  .inptEstado{
    width:170px;
  }


  @media screen and (max-width: 900px) {
    .inputs{
      flex-direction: column;
      align-items: flex-start;
    }
    .tarea{
      flex-direction:column;
    }
    .cabeceras{
      flex-direction:column;
    }

    .bodyContent{
      height:2vh;
    }
  }